* {
    margin: 0;
    padding: 0;
    
}

#corpo {

    background-color: burlywood;

}

#cabeça {

    background-color: rgb(26, 116, 74);
    text-align: center;
    padding: 10px;
}

#cab {

    background-color: rgb(26, 116, 74);

}

#cab2 {

    background-color: rgb(26, 116, 74);

}

#cab3 {

    background-color: rgb(26, 116, 74);

}

#cabC {

    background-color: rgb(26, 116, 74);
    font-size: 150%;

}

#bots {

    text-align: center;
    background-color: rgb(17, 78, 50);

}

#bot1 {

    background-color: #bac6d3;
    border: 1px solid #d1d8df;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

#bot2 {

    background-color: #bac6d3;
    border: 1px solid #d1d8df;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

#bot3 {

    background-color: #bac6d3;
    border: 1px solid #d1d8df;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

#bot4 {

    background-color: #bac6d3;
    border: 1px solid #d1d8df;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

#bot5 {

    background-color: #1b4726;
    border: 1px solid #144727;
    border-radius: 4px;
    color: #ffffff;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

#bot6 {

    background-color: #bac6d3;
    border: 1px solid #d1d8df;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

#bot7 {

    background-color: #bac6d3;
    border: 1px solid #d1d8df;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}
 
#imgs {

    text-align: center;
    margin-top: 100;
    position: absolute;
    bottom: 0px;
    width: 1356px;
    background-color: rgb(23, 70, 47);
    padding: 5px;

}

#redes {

    text-align: center;
    margin-top: 34%;
    background-color: rgb(28, 114, 74);
    padding: 3px;

}

#tab {

    background-color: rgb(48, 170, 109);
    border: 1px solid rgb(23, 117, 65);
    width: 50% !important; /*Importante manter o !important rs */
    margin: auto;

}

#Hc {

    text-align: center;

}

#Hh {

    text-align: center;
    font-size: 150%;

}

#form {

    margin-top: 30px;
    margin-left: 40%;
    

}

#Hv {

    text-align: center;

}